{% extends 'assign/base.html' %}
{% block content %}
  <style>
    #content {
      width: 30%;
    }
  </style>
  <h3>Изменить пароль</h3>
  {% if form.errors %}
    <div role="alert">
      <div id="form_errors">
        {% for key, value in form.errors.items %}
          <strong>{{ value }}</strong>
        {% endfor %}
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  {% endif %}

  <form class="change_password_form" method="POST">
    {% csrf_token %}

    <label>Старый пароль</label>
    <input type="password" name="old_password" autocomplete="new-password" required id="id_old_password" placeholder="Введте старый пароль..." />
    <br />

    <label>Новый пароль</label>
    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Введите новый пароль..." />

    <br />

    <label for="id_new_password2">Подтверждение</label>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Подтвердите пароль..." />

    <br />
    <input type="submit" value="Сменить пароль" />
  </form>
{% endblock %}
