{% extends "assign/base.html" %}

{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    
    {% for homework in homeworks %}
        <h2>
           <a href="{{ homework.get_absolute_url }}"> 
               {{ homework.title }}</a>
        </h2>
    <p class="tags">
            Tags:
            {% for tag in homework.tags.all %}
                <a href="{% url 'assign:homework_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">
            Published {{ homework.publish }} by {{ homework.author }}
        </p>
        {{ homework.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}