{% extends "assign/base.html" %}

{% block title %}Поделиться заданием{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Письмо успешно отправлено</h1>
        <p>
            "{{ homework.title }}" было отправлено
            на {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Поделиться "{{ homework.title }}" по e-mail</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить e-mail">
        </form>
    {% endif %}
{% endblock %}