@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

a {
    color: #5B48A9;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
}

h2 {
    font-weight: normal;
}

#header {
    position: fixed top;
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #5B48A9;
    box-shadow: 5px 5px 5px#82828286;
    justify-content: center;
}

.header_title {
    margin: 0;
    padding: 0; 
    position: relative;
    font-family: "Baloo 2"; 
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-bottom: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #fff;
}

#content {
    margin-top: 2%;
}

p.date {
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
input[type=submit] {
    font-weight: bold;
    background: #5B48A9;
    border-radius: 8px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.reg_form {
    padding: 2%;
    width: 30%;
    box-shadow: 3px 3px 3px 3px #8e8e8e8a;
    border-radius: 15px;
    margin: 0 auto;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

[gray] {
    color: #8e8e8e;
    text-decoration: underline;
}