{% load static %}
{% load assign_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/homework.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>
        This is my Course.
        It's have {% total_homeworks %} homeworks at all.
    </p>
    <h3>Latest homeworks</h3>
    {% show_latest_homeworks 3 %}
  </div>
</body>
</html>